<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yedam.mapper.ReplyMapper">
	<!-- alias mybaits-config.xml에 설정해놓았으므로 타입에 alias만 적어도 됨. -->
	<select id="selectList" resultType="reply" parameterType="int">
		SELECT reply_no
		,reply
		,replyer
		,board_no
		,TO_CHAR(reply_date, 'YYYY-MM-DD HH24:MI') reply_date
		FROM tbl_reply
		WHERE board_no = #{boardNo}
		ORDER BY reply_no DESC
	</select>
	
	<select id="selectListPaging" resultType="reply">
		SELECT b.*
		FROM  (SELECT ROWNUM rn, a.*
      		   FROM  (SELECT *
      		          FROM   tbl_reply
      	              WHERE  board_no = #{boardNo}
      		          ORDER  BY reply_no DESC) a) b
		WHERE b.rn > (#{page} - 1) * 5
		<![CDATA[
		AND   b.rn <= (#{page} * 5)		
		]]>
	</select>

	<insert id="insertReply" parameterType="reply">
		<selectKey keyProperty="replyNo" order="BEFORE" resultType="int"> <!-- insert 쿼리 실행 전 key 추출-->
			SELECT reply_seq.nextval FROM dual
		</selectKey>
		
		INSERT INTO tbl_reply(reply_no, reply, replyer, board_no)
		VALUES (#{replyNo}, #{reply}, #{replyer}, #{boardNo})
	</insert>

	<delete id="deleteReply" parameterType="int">
		DELETE FROM tbl_reply
		WHERE reply_no = #{replyNo}
	</delete>

	<!-- parameterType="int" 반환타입 안 적어도 자동으로 작동할 수 있음. -->
	<select id="selectReply" parameterType="int" resultType="reply">
		SELECT reply_no
		,reply
		,replyer
		,board_no
		,reply_date
		FROM tbl_reply
		WHERE reply_no = #{replyNo}
	</select>
	
	<select id="countReply" parameterType="int" resultType="int">
		SELECT COUNT(1)
		FROM tbl_reply
		WHERE board_no = #{boardNo}
	</select>

</mapper>